<% include partes/cabecera%>
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-7">
          <table class="table table-bordered">
            <thead> <!--  cabecera -->
              <!--fila  -->
              <tr>
                <!-- atributos o cabeceras -->
                <th>Nombre</th>
                <th>Website</th>
                <th>info_sitio</th>
                <th>info_ruta</th>
                <th>info_general</th>
                <th>longitud</th>
                <th>latitud</th>
                <th>localizacion</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <!-- cuerpo -->
            <tbody>
              <% if(data){ %>
                 <% for(var i = 0;i < data.length;i++) { %>
                   <tr>
                     <td><%= data[i].nombre%></td>
                     <td><%= data[i].website%></td>
                     <td><%= data[i].info_sitio%></td>
                     <td><%= data[i].info_ruta%></td>
                     <td><%= data[i].info_general%></td>
                     <td><%= data[i].longitud%></td>
                     <td><%= data[i].latitud%></td>
                     <td><%= data[i].localizacion%></td>
                     <td><%= data[i].edad%></td>
                     <td> <a href="/borrar/<%= data[i].nombre %>" class="btn btn-outline-primary form-control ">Borrar</a>
                          <a href="/actualizar/<%= data[i].nombre %>" class="btn btn-outline-primary form-control">Actualizar</a>
                     </td>
                   </tr>
                   <% } %>
              <% } %>
            </tbody>
          </table>
        </div>
        <div class="col-md-5">
            <div class="card">
              <div class="card-header">Registrar </div>
                <div class="card-body">
                  <form class="" action="/Insertar" method="POST">
                    <div class="form-group">

                      <label for="">Nombre</label>
                      <input type="text" name="nombre" value="" class="form-control">
                      <label for="">Website</label>
                      <input type="text" name="website" value="" class="form-control">
                      <label for="">info_sitio</label>
                      <input type="text" name="info_sitio" value="" class="form-control">
                      <label for="">info_ruta</label>
                      <input type="text" name="info_ruta" value="" class="form-control">
                      <label for="">info_general</label>
                      <input type="text" name="info_general" value="" class="form-control">
                      <label for="">longitud</label>
                      <input type="text" name="longitud" value="" class="form-control">
                      <label for="">latitud</label>
                      <input type="text" name="latitud" value="" class="form-control">
                      <label for="">localizacion</label>
                      <input type="text" name="localizacion" value="" class="form-control">
                    </div>
                    <div class="">
                      <input type="submit"  value="Insertar" class="btn btn-primary btn-block">
                    </div>
                    <a href="/busqueda/a">Consulta</a>
                  </form>
                </div>
            </div>
        </div>
      </div>
    </div>
<% include  partes/pie %>
